.App {
  text-align: center;
}

.App-header {
  background-color: #f0f0f0f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#Avatar {
  background-color: #61dafb;
}
#PlayerProfileCard {
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: #282c34;
  font-size: medium;
}

#UserProfile {
  color: #282c34;
}
