

footer.contenedor-Footer {
    background-color: black;
    padding: 10px;
}  

footer.contenedor-Footer p {
    color: white;
    text-align:center;
}

footer.contenedor-Footer .wrapper {
    background-color: rgb(3, 3, 3);
    color: white;
    display: flex;
    margin: auto;
    max-width: 960px;
    min-height: 10px;
}


footer.contenedor-Footer .wrapper h2 {
    flex: 0 0 auto;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


footer.contenedor-Footer,ul, section > ul {
    list-style: none;
    padding: 0;
}

footer .navFooter li a{
    padding: 10px;
    color: blanchedalmond;
    text-decoration: none;
    transition: color .3s ease;
}

footer .navFooter li a:hover {
    color: rgb(109, 238, 109);
}

footer .navFooter {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;
}

 footer .navFooter li::before {
    content: "";
    display: inline-block;
    width:  4px;
    height: 4px;
    margin-right: 2px;
    border-radius: 50%;
    background-color: greenyellow;
    vertical-align: middle;
}  

footer .contactos {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;
}

footer .navLegal {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;
}

footer .navLegal li a{
    padding: 10px;
    color: blanchedalmond;
    text-decoration: none;
    transition: color .3s ease;
}

footer .navLegal li a:hover {
    color: rgb(109, 238, 109);
}


footer .navLegal li::before {
    content: "";
    display: inline-block;
    width:  4px;
    height: 4px;
    margin-right: 2px;
    border-radius: 50%;
    background-color: greenyellow;
    vertical-align: middle;
}  

footer .siguenos {
    justify-content: space-around;
    align-items: baseline;
    cursor: pointer;
    list-style: none;
}

.iconosSiguenos  {
    margin-left: 1rem;

}
.iconosSiguenos a {
    color: blanchedalmond;
    list-style: none;
    margin-left: 1rem;
}

.iconosSiguenos a:hover {
    color:greenyellow;
    list-style: none;
    padding: 0;
}

footer .divisoria, hr{
    height: 1px;
    background-color: blanchedalmond;
}

footer .pieNota{
   background-color: black;
   margin-top: 5px;
   padding: 15px;
}

footer .logo {
    color:rgb(109, 238, 109);
    display: inline-block;
    animation: fadeEnter .5s ease both 0.25s;
}

footer .pieNota.logo{
    font-size: 'Amatic SC';
}
