/*######### Formumlario Crear Perfil #########*/

.contenedorWrapperFormCrearPerfil {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    display: grid;
    gap: 1rem;
    padding: 20px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.wrapperformPerfil {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formPerfil {
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    background: linear-gradient(
        90deg,
        rgb(40, 40, 40) 0%,
        rgb(17, 17, 17) 100%
    );
}

label {
    display: inline-block;
}
.formPerfil h1 {
    text-align: center;
    margin-left: 10%;
    color: greenyellow;
}
.formPerfil .form-inputs p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: gray;
}

.formPerfil .form-label {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 10px;
    font-size: large;
}

.formPerfil .form-input {
    background-color: gray;
    border-radius: 10px;
    width: 100%;
    padding: 0.5rem;
    outline: none;
    color: white;
    font-size: large;
}

.form-textArea {
    background-color: gray;
    border-radius: 10px;
    width: 100%;
    padding: 0.5rem;
    outline: none;
    color: white;
    font-size: large;
}
.formPerfil .form-input::placeholder {
    color: #595959;
    font-size: 12px;
}

.botonCrear {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formPerfil .form-input-boton {
    background: chartreuse;
    font-weight: bold;
    width: 70%;
    color: black;
    border-radius: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}

.formPerfil .form-input-boton:hover {
    cursor: pointer;
    background: linear-gradient(
        90deg,
        rgb(59, 163, 33) 100%,
        rgb(22, 104, 2) 100%
    );
    transition: all 0.4s ease-out;
    cursor: pointer;
    color: blanchedalmond;
}

.botonVolver {
    width: 960px;
    margin: auto;
    background: chartreuse;
    display: flex;
    justify-content: end;
    font-weight: bold;
    color: black;
    border-radius: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}

.butvolver button {
    background: linear-gradient(
        90deg,
        rgb(59, 163, 33) 100%,
        rgb(22, 104, 2) 100%
    );
    outline: none;
    cursor: pointer;
}

.butvolver .butvolver:hover {
    cursor: pointer;

    transition: all 0.4s ease-out;
    cursor: pointer;
    color: blanchedalmond;
}

.butvolver a {
    outline: none;
}
.formPerfil .form-input-login {
    font-size: 0.8rem;
    margin-top: 10px;
    color: #fff;
    width: 80%;
    text-align: center;
}
.formPerfil .form-input-login a {
    text-decoration: none;
    color: #27cdff;
    font-weight: 600;
}
