/*############### CUENTAS USUARIOS  ###############*/

/*######### BODY  ######### */
/* Cuentas Jugador */

/*######### CABECERA  */
.cabeceraCuenta {
    background-color: #fff;
    display: grid;
    gap: 1rem;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.columna-izquierda {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    flex-direction: column;
}

.avatarUsuario {
    background-color: green;
    gap: 1rem;
    width: 100px;
    height: 100px;
    border-radius: 120px;
}

.editarAvatar {
    background-color: green;
    gap: 1rem;
}

.editarAvatar button {
    cursor: pointer;
}

.columna-derecha {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    flex-direction: column;
}

/*######### Datos Personales Editar y Guardar */

.contenedorWrapperPerfil {
    /* background-color: grey; */
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 10px;
    display: grid;
    gap: 1rem;
    max-width: 960px;
    min-height: 10vh;
    border-radius: 10px;
}

.contenedorWrapperPerfil {
    padding: 30px;
}

.userInfo {
    /* background-color: rgb(192, 151, 222); */
    display: flex;
    border-radius: 10px;
    gap: 1rem;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

/* Sesion cabecera Usuario */
.UserAccountData {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.inputNome {
    border: solid gray;
    padding: 10px;
    border-radius: 10px;
}

.inputNome p {
    margin-left: 20px;
}

.inputEmail {
    border: solid gray;
    padding: 10px;
    border-radius: 10px;
}

.botonesEditarPerfil button {
    border: solid gray;
    padding: 10px;
    padding: 1rem 4rem;
    border-radius: 10px;
    margin-left: 2 0 5em;
    cursor: pointer;
}

.columna-izquierdaPerfil {
    background-color: grey;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 30vh;
}

.columna-derechaPerfil {
    background-color: grey;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30vh;
    gap: 1rem;
}

/* Cuenta Ojeador*/
.contenedorWrapperCuentaOjeador {
    margin: auto;
    margin-top: 10px;
    display: grid;
    gap: 1rem;
    max-width: 960px;
    min-height: 30vh;
    border-radius: 10px;
    margin-bottom: 10px;
}

.fotoCuentaOjeador {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: forestgreen;
    border-radius: 10px;
    width: 100%;
    height: 40vh;
    background-image: url("images/header-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotateY(180deg);
    position: relative;
}

/*######### Cartas #########*/

.contenedorWrapperCartas {
    /* background-color: rgb(138, 201, 75); */
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    max-width: 960px;
}

.contenedorWrapperCartas {
    padding: 30px;
}
.contenedorCartasUsuario h1 {
    background-color: rgb(186, 187, 186);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    padding: 4px;
    margin-bottom: 20px;
}
.contenedorCartasUsuario {
    /* background-color: rgb(116, 67, 152); */
    /* box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2); */
    padding: 10px;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.tresColumnasCartas {
    /* background-color: lightseagreen; */
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.userProfiles {
    display: grid;
    border: solid rgb(186, 187, 186);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.userProfilesNombre {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(186, 187, 186);
    border-radius: 10px;
    width: 220px;
    font-size: larger;
    font-weight: bold;
    padding: 10px;
}

.userProfilesAnadirPerfil {
    display: grid;
    background-color: rgb(186, 187, 186);
    border: solid rgb(186, 187, 186);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 280px;
    gap: 20px;
}

.butonAnadirPerfil {
    display: flex;
    justify-content: center;
    align-items: center;
    background: chartreuse;
    border-radius: 10px;
    margin: auto;
    width: 150px;
    padding: 5px;
    color: black;
}

.butonAnadirPerfil:hover {
    cursor: pointer;
    color: honeydew;
    background: linear-gradient(
        90deg,
        rgb(59, 163, 33) 100%,
        rgb(22, 104, 2) 100%
    );
    transition: all 0.4s ease-out;
}

/* .contenedorCartas {
     background-color: rgb(17, 203, 216); 

    margin: auto;
    width: 960px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 10px;
    height: 650px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
 */

.gridContenedor {
    /* background-color: #347d3c; */
    display: grid;
    margin: auto;
    padding: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    grid-template-columns: auto;
}

.gridContenedor p {
    color: rgb(5, 5, 5);
    margin-left: 0.5rem;
}

.grid-itens {
    /* background-color: rgb(87, 30, 30);  */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid-item {
    /* background-color: greenyellow;    */
    display: block;
    flex-direction: column;
    border-radius: 10px;
    margin: auto;
    padding: 5px;
    width: 100%;
    gap: 20px;
}
/* Sesion crear Perfil */

.contenedorWrapperPrincipalPerfil {
    /* background-color: grey; */
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 10px;
    display: grid;
    gap: 1rem;
    max-width: 960px;
    min-height: 10vh;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    border-radius: 10px;
}

.contenedorWrapperPerfil {
    padding: 30px;
}

/* Cartitas Jugadores Resumen */

.contenedorWrapperPerfilJugador {
    background-color: rgb(248, 247, 245);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 10px;
    display: grid;
    gap: 1rem;
    width: 100%;
    min-height: 20vh;
    padding: 20px;
    border-radius: 10px;
}

/* Crear Perfil */
.contenedorWrapperCrearPerfil {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 10px;
    display: grid;
    gap: 1rem;
    max-width: 960px;
    min-height: 10vh;
    padding: 20px;
}

.contenedorCrearPerfil {
    background-color: rgb(177, 109, 225);
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.columna-datosPerfil {
    background-color: rgb(150, 22, 22);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;

    flex-direction: column;
}

.filas {
    background-color: blanchedalmond;
    display: flex;

    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.fila1 {
    display: flex;
    border: solid blueviolet;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.fila2 {
    display: flex;
    border: solid blueviolet;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.avatarUsuarioJugador {
    background-color: green;
    margin-top: 20px;
    width: 120px;
    height: 120px;
    border-radius: 120px;
}

.inputNomeJugador {
    background-color: aqua;
    margin-top: 20px;
    border: solid gray;
    width: 80%;

    border-radius: 10px;
}

.inputNomeJugador p {
    color: black;
}

.botonCrearJugador button {
    border: solid gray;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;

    cursor: pointer;
}

/*  Resumo de las cartas Jugadores*/
/* Grides con perfiles de jugadores */
.avatarPerfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.avatarPerfil .avatar {
    width: 120px;
    height: 120px;
    border: solid 4px rgb(41, 124, 41);
    margin-bottom: 10px;
    border-radius: 50%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.botonVerPerfil .Link {
    background-color: chartreuse;
    display: flex;
    width: 80%;
}

.botonVerPerfil p {
    text-decoration: chartreuse;
}
.datosCartas {
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.datosPerfil {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    padding: 10px;
    background-color: rgb(186, 187, 186);

    border-radius: 10px;
}

.datosPerfil p {
    margin: 0;
    color: rgb(1, 1, 1);
    text-align: center;
}

/*######### Formumlario #########*/

.contenedorWrapperFormCrearPerfil {
    background-color: grey;
    margin: auto;
    display: grid;
    gap: 1rem;
    max-width: 960px;
    min-height: 10vh;
}
.crearPerfilForm {
    background-color: rgb(116, 67, 152);
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.columna-izquierdaForm {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    flex-direction: column;
}

.columna-derechaForm {
    background-color: grey;
    display: flex;
    gap: 1rem;
    width: 100%;
    flex-direction: column;
}

.formPerfil {
    border-radius: 0 10px 10px 0;
    padding: 20px;
    background: linear-gradient(
        90deg,
        rgb(40, 40, 40) 0%,
        rgb(17, 17, 17) 100%
    );
}

.formPerfil h1 {
    text-align: center;
    width: 80%;
    color: greenyellow;
}
.formPerfil .form-inputs p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: gray;
}

.formPerfil .form-label {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 10px;
    font-size: large;
}

.formPerfil .form-input {
    background-color: gray;
    border-radius: 10px;
    width: 100%;
    padding: 0.5rem;
    outline: none;
    color: white;
    font-size: large;
}

.formPerfil .form-input::placeholder {
    color: #595959;
    font-size: 12px;
}

.formPerfil .form-input-btn {
    width: 80%;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    margin: auto 10%;
    background: chartreuse;
    outline: none;
    border: none;
    color: black;
    font-size: 1rem;
}
.formPerfil .form-input-btn:hover {
    cursor: pointer;
    background: linear-gradient(
        90deg,
        rgb(59, 163, 33) 100%,
        rgb(22, 104, 2) 100%
    );
    transition: all 0.4s ease-out;
    cursor: pointer;
}

.formPerfil .form-input-login {
    font-size: 0.8rem;
    margin-top: 10px;
    color: #fff;
    width: 80%;
    text-align: center;
}
.formPerfil .form-input-login a {
    text-decoration: none;
    color: #27cdff;
    font-weight: 600;
}
